{% extends 'base.html' %}

{% block title %}List{% endblock %}

{% block content %}
<div class="btn-group">
    <a href="{% url 'add' %}" class="btn btn-info">Add Bookmark</a>
</div>
<p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Site</th>
            <th scope="col">URL</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for bookmark in object_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><a href="{% url 'detail' pk=bookmark.id %}">{{bookmark.site_name}}</a></td>
            <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a></td>
            <td><a href="{% url 'update' pk=bookmark.id %}" class="btn btn-success sm">Modify</a></td>
            <td><a href="{% url 'delete' pk=bookmark.id %}" class="btn btn-danger sm">delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</p>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <ul class="pagination justify-content-center pagination-sm">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="{% url 'list' %}?page={{ page_obj.previous_page_number }}" class="page-link" tableindex="-1">Prev</a>
                </li>
            {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link" tableindex="-1">Prev</a>
            </li>
            {% endif %}

            {% for object in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == forloop.counter %}disable{% endif %}">
                    <a href="{{ request.path}}?page={{ forloop.counter }}" class="page-link">{{ forloop.counter }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="{% url 'list' %}?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}